.is-input-mini {
    width: 2rem;
}

.notification {
    opacity: 1;
    animation: fade 8s linear forwards;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    15% {opacity: .8}
    50% { opacity: 1 }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: auto;
    }
}